<div class="header" id="body" >
<h1>Ruby on Rails</h1>
<small>convention over configuration</small>

<%= render partial: 'shared/navbar' %>
</div>

<div class="">
<%= render partial: 'shared/jumbotron' %>
</div>


