<div class="jumbotron  ">

  <h1 class="display-5">Learn to survive everyday</h1>
  <center><p class="lead">This is a simple website in which you can get some knowledge about Ruby on Rails, not like a
	tutorial because this website itself built by a beginner dev.. But people can get some information and updates about
	RoR. a simple jumbotron-style component for calling extra attention to featured content or information.</p></center>
  <hr class="my-4">
  <p>Don't worry... You are on the right place</p>
  <p class="lead">
    <a class="btn btn-info " href="#" role="button">Get Started..</a>
  </p>
    </div>
