<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="home.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Home
    </a>
    <%# <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" class="nav-item dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> %>

	 <%# <a class="navbar-brand" href="/signup" > %>
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >

      <img src="signup.png" alt="" width="35" height="25" class="d-inline-block align-text-top">
      Sign up
    </a>

	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/users/new">Student signup</a></li>
            <li><a class="dropdown-item" href="#">Staff signup</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
     </ul>

	<a class="navbar-brand" href="#">
      <img src="login.png" alt="" width="35" height="24" class="d-inline-block align-text-top">
      Login
    </a>
	<a class="navbar-brand" href="#">
      <img src="admin.png" alt="" width="50" height="30" class="d-inline-block align-text-top">
      Admin
    </a>
	<a class="navbar-brand" href="/users">
      <img src="contactus.png" alt="" width="35" height="24" class="d-inline-block align-text-top">
      Contact us
    </a>
	<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
</nav>
