<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#body">
      <img src="home.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Home
    </a>
	 <a class="navbar-brand" href="/signup">
      <img src="signup.png" alt="" width="35" height="25" class="d-inline-block align-text-top">
      Sign up
    </a>
	<a class="navbar-brand" href="#">
      <img src="login.png" alt="" width="35" height="24" class="d-inline-block align-text-top">
      Login
    </a>
	<a class="navbar-brand" href="#">
      <img src="admin.png" alt="" width="50" height="30" class="d-inline-block align-text-top">
      Admin
    </a>
	<a class="navbar-brand" href="/contact">
      <img src="contactus.png" alt="" width="35" height="24" class="d-inline-block align-text-top">
      Contact us
    </a>
  </div>
</nav>
