<footer >
		<nav class="nav-bot" >
		    <a class="nav-links" href="#body">Home</a>
			<a class="nav-links" href="#">Events</a>
			<a class="nav-links" href="#">Enrollment</a>
			<a class="nav-links" href="#">Help</a>
		</nav>
		<br>
		   <small class="copy">&#x40; copy rights reserved</small>

	</footer>
